<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Oauth Application</title>
</head>
<style>
    .flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}
        </style>
<body>
        <div class="flex-wrapper">
    <nav>
        <div class="nav-wrapper">
        <a href="#" class="brand-logo right">Oauth</a>
        <ul>
        <li><a href="http://www.rohito.com">Rohito's Portfolio</a></li>
            <li><a href="/auth/login">Login</a></li>
        </ul>
        </div>
    </nav>
    <div class="container">
        <ul class="collection" style="text-align: center;">
            <a class="collection-item" href="/auth/login"><li>Login</li></a>
            <a class="collection-item" href="/auth/login"><li>Login</li></a>
            <a class="collection-item" href="/auth/login"><li>Login</li></a>
            <a class="collection-item" href="/auth/login"><li>Login</li></a>
            <a class="collection-item" href="/auth/login"><li>Login</li></a>
            <a class="collection-item" href="/auth/login"><li>Login</li></a>
            <a class="collection-item" href="/auth/login"><li>Login</li></a>
            <a class="collection-item" href="/auth/login"><li>Login</li></a>
            <a class="collection-item" href="/auth/login"><li>Login</li></a>
            <a class="collection-item" href="/auth/login"><li>Login</li></a>
            <a class="collection-item" href="/auth/login"><li>Login</li></a>
            <a class="collection-item" href="/auth/login"><li>Login</li></a>
            <a class="collection-item" href="/auth/login"><li>Login</li></a>
            <a class="collection-item" href="/auth/login"><li>Login</li></a>
        </ul>
    </div>
    <footer class="footer page-footer">
            <div class="footer-copyright">
              <div class="container">
              © Rohito Bhambhani 2018 
              </div>
            </div>
          </footer>
        </div>
</body>

</html>